@import './common.less';
@import './custom.less';
@import './content.less';
@import './banner.less';
@import './navigation.less';
@import './about.less';
@import './feature2.less';
@import './feature1.less';
@import './products.less';
@import './footer.less';
@import './edit.less';
@import './vacancy.less';

html {
scroll-behavior: smooth;
background-color: @main-background-color;
}
@font-face {
	font-family: 'cuyabra'; 
	src: url("/resources/fonts/cuyabra.ttf"); 
}
li {
	list-style-type: circle;
}